.main {
  margin-top: 55px;
}

body {
  padding: 0;
  background-color: #DED9DD;
  color: #3a3846;
  font-size: 10px;
}

.navigation {
  background-color: #3a3846;
  height: 50px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

nav>ul>li {
  display: inline;
}

.menu {
  margin-left: 5px;
  margin-right: 500px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  float: right;
}

.menu>li::marker {
  color: #3A5683;
}

.navigation a {
  float: left;
  display: block;
  font-size: 1.5rem;
  margin-right: 10px;
  color:#FED3BE;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
}

a:visited {
  color:#FED3BE;
}

a:hover {
  color:#3a3846;
  background-color: #e1bb47;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 3rem;
  margin: 0px 5px;
  padding-right: 100px;
  padding-left: 10px;
  padding-bottom: 10px;
}

p {
  margin-left: 5px;
  margin-right: 200px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
}

img {
  max-width: 500px;
  float: left;
  padding: 10px;
}



